src/pug/index.pug
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Timeline: Julie of the Wolves | Logan Balmer
    link(rel='stylesheet', href='/assets/css/styles.css')
  body
    section.copy-wrapper
      h1.page-title Julie of the Wolves Timeline
      dl.timeline
        dt Age 2
        dd 
          p Mom passes away
          figure
            img(src='/images/goodbye.jpg')

        dt Age 9 
        dd Named Julie at Seal Camp
        dd Taken away from Kapugen to live with Aunt Martha on the Main Land, and promised that she could move away to live with a friend of Kapugen and marry his son in Barrow away from Aunt Martha at the age of 13.
        dd 
          p Kapugen's kayak washes up on shore all broken up into small pieces when she is living with Aunt Martha and starts to think he is dead
          figure
            img(src='/images/kapugean.jpg')

        dt Age 13
        dd Moves to live with a friend in Barrow. 
        dd 
          p Meets Mr. Padlock, Amy's dad and gains Amy as her penpal.
          figure
            img(src='/images/quill.jpg')

        dd Meets a girl her age named Pearl. 
        dd 
          p Julie soon decides to run away to San Francisco where Amy her penpal lives.
          figure
            img(src='/images/penpal.jpg')
        
        dd 
          p On her way to San Francisco, she has to cross the Artic, but on the way, she meets a pack of friendly wolves who welcomed Julie into there pack as a pup.
          figure
            img(src='/images/amroq.jpg')
        
        dd There was one angry wolf named Jello who kept stealing from Julie, the rules are that if a wolf steals from a pup, the pack turns on that wolf.
        dd Since Julie's journey was coming to an end, and Julie was close to civilization, she had to leave the pack for there own safety since it was hunting season. 
        dd Julie finds a sick bird that is supposed to have migrated to warmer grounds, names it Torient, and takes care of it. 
        dd As the pack was leaving, a hunting plane flew by and Amaroq te leader of the wolves died.
        dd Julie stops in a nearby town, while she was there she finds her dad. 
        dd Toriant dies because of the harsh winter. 
  script(src='/assets/js/scripts.js')

dist/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Timeline: Julie of the Wolves | Logan Balmer</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <section class="copy-wrapper">
      <h1 class="page-title">Julie of the Wolves Timeline</h1>
      <dl class="timeline">
        <dt>Age 2</dt>
        <dd> 
          <p>Mom passes away</p>
          <figure><img src="/images/goodbye.jpg"></figure>
        </dd>
        <dt>Age 9 </dt>
        <dd>Named Julie at Seal Camp</dd>
        <dd>Taken away from Kapugen to live with Aunt Martha on the Main Land, and promised that she could move away to live with a friend of Kapugen and marry his son in Barrow away from Aunt Martha at the age of 13.</dd>
        <dd> 
          <p>Kapugen's kayak washes up on shore all broken up into small pieces when she is living with Aunt Martha and starts to think he is dead</p>
          <figure><img src="/images/kapugean.jpg"></figure>
        </dd>
        <dt>Age 13</dt>
        <dd>Moves to live with a friend in Barrow. </dd>
        <dd> 
          <p>Meets Mr. Padlock, Amy's dad and gains Amy as her penpal.</p>
          <figure><img src="/images/quill.jpg"></figure>
        </dd>
        <dd>Meets a girl her age named Pearl. </dd>
        <dd> 
          <p>Julie soon decides to run away to San Francisco where Amy her penpal lives.</p>
          <figure><img src="/images/penpal.jpg"></figure>
        </dd>
        <dd> 
          <p>On her way to San Francisco, she has to cross the Artic, but on the way, she meets a pack of friendly wolves who welcomed Julie into there pack as a pup.</p>
          <figure><img src="/images/amroq.jpg"></figure>
        </dd>
        <dd>There was one angry wolf named Jello who kept stealing from Julie, the rules are that if a wolf steals from a pup, the pack turns on that wolf.</dd>
        <dd>Since Julie's journey was coming to an end, and Julie was close to civilization, she had to leave the pack for there own safety since it was hunting season. </dd>
        <dd>Julie finds a sick bird that is supposed to have migrated to warmer grounds, names it Torient, and takes care of it. </dd>
        <dd>As the pack was leaving, a hunting plane flew by and Amaroq te leader of the wolves died.</dd>
        <dd>Julie stops in a nearby town, while she was there she finds her dad. </dd>
        <dd>Toriant dies because of the harsh winter. </dd>
      </dl>
    </section>
  </body>
  <script src="/assets/js/scripts.js"></script>
</html>
